.image{
position:relative;
width:150px;
height:150px;
top:0.1px;
left:20px;
}
.image2{
height: 150px;
top:0.5px;
left:2000px;
}
.legend2{
text-align: right;
}

legend{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: red;
    }