.image{
position:relative;
width:150px;
height:150px;
top:0.1px;
left:20px;
}
h1{
    font-family: 'Shojumaru', cursive;
    color: red;
    text-align: center;
}

body{
    font-size: 18px;
}

p,li{
    font-family: 'Amiri', serif;
  }